<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Us</title>
    {{>header_links}}
</head>

<body>
    <!-- Navbar -->
    {{>navbar}}
    <!-- Hero section -->
    <div class="container">
        <div class="row">
            <div class="col col-md-6 col-10 mx-auto main_header_right align-items-center">
                <figure>
                    <img src="images/about.png" alt="Adiyta" class="img-fluid">
                </figure>
            </div>
            <div class="col col-md-6 col-10 mx-auto main_header_left">
                <p>Welcome to the weather app.</p>
                <h1>i am a <span class="text-clr">Mern Stack Developer</span>, youtuber, Freelancer.</h1>
                <a href="/" class="button">Check now</a>
            </div>
        </div>
    </div>
    <!-- Footer  -->
   {{>footer}}
</body>

</html>